﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <%Include /stdhead.htm%>
</head>
<body>
    <div id="waiter" class="wait" style="display:none;">
        &nbsp;
    </div>
    <div class="modal" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal-label"
         data-backdrop="static" data-keyboard="true" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="modal-bx" type="button" class="close" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="modal-label">
                        HEADER
                    </h4>
                </div>
                <div class="modal-body" id="modal-body">
                    BODY
                </div>
                <div class="modal-footer">
                    <button id="modal-b1" type="button" class="btn">
                        B1
                    </button>
                    <button id="modal-b2" type="button" class="btn">
                        B2
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="progress" tabindex="-1" role="dialog" aria-labelledby="progress-label"
         data-backdrop="static" data-keyboard="true" aria-hidden="true">
        <div class="modal-dialog" style="width: 400px">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="progress-bx" type="button" class="close" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="progress-title" id="progress-label">
                        SENDING FILE
                    </h4>
                </div>
                <div class="modal-body" id="progress-body">
                    <div class="progress">
                        <div id="progress-bar" class="progress-bar" role="progressbar" style="width: 50%">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="progress-b1" type="button" class="btn">
                        Abort
                    </button>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="default.htm"><%=Global.Home%></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <%=Global.MainNavBar%>
            </div>
        </div>
    </nav>
    <div class="container" role="main">
        <div class="page-header">
            <h1>
                Configuration Utilities
            </h1>
        </div>
        <div id="page-area" style="display: none">
            <div class="row col-md-7">
                <h3>
                    Device Configuration
                </h3>
                <table class="table table-striped table-bordered" style="width: 0%; margin-top: 15px">
                    <thead>
                        <tr>
                            <th style="min-width: 30px"></th>
                            <th>Element</th>
                            <th style="min-width: 30px">Operations</th>
                        </tr>
                    </thead>
                    <tbody id="devcon-body">
                    </tbody>
                </table>
            </div>
            <div class="row col-md-9" id="appcon" style="display: none">
                <h3>
                    Crimson Configuration
                </h3>
            </div>
        </div>
    </div>
    <div id="hidden" style="display:none">
    </div>
</body>
<script type="text/javascript" src="/assets/js/cutils.js"></script>
<script type="text/javascript" src="/assets/js/modal.js"></script>
<script type="text/javascript">$(document).ready(doSession(pageMain));</script>
</html>
