﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <%Include /stdhead.htm%>
</head>
<body>
    <div class="modal" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal-label"
         data-backdrop="static" data-keyboard="true" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="modal-bx" type="button" class="close" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="modal-label">
                        HEADER
                    </h4>
                </div>
                <div class="modal-body" id="modal-body">
                    BODY
                </div>
                <div class="modal-footer">
                    <button id="modal-b1" type="button" class="btn">
                        B1
                    </button>
                    <button id="modal-b2" type="button" class="btn">
                        B2
                    </button>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="default.htm"><%=Global.Home%></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <%=Global.MainNavBar%>
            </div>
        </div>
    </nav>
    <div class="container" role="main">
        <div class="page-header">
            <h1>
                System Information
            </h1>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>
                    Device Information
                </h3>
                <table id="device-table" class="table table-striped table-bordered" style="display: none">
                    <tbody id="device-body">
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <h3>
                    Diagnostic Dumps
                </h3>
                <div id="core-head" style="display: none">
                    <p style="margin-top: 18px">No diagnostic dumps are present on the system.</p>
                </div>
                <div id="core-show" style="display: none">
                    <table id="core-table" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Application</th>
                                <th>Date and Time</th>
                            </tr>
                        </thead>
                        <tbody id="core-body">
                        </tbody>
                    </table>
                    <div id="core-tail">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <div id="dev-upgrade">
                </div>
            </div>
        </div>
    </div>
    <div id="hidden" style="display:none">
    </div>
</body>
<script type="text/javascript" src="/assets/js/devinfo.js"></script>
<script type="text/javascript" src="/assets/js/modal.js"></script>
<script type="text/javascript">$(document).ready(doSession(pageMain));</script>
</html>
