﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <%Include /stdhead.htm%>
    <link href="/assets/css/logon.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <p class="navbar-brand" style="margin-bottom: 0px;"></p>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
            </div>
        </div>
    </nav>
    <div class="container">
        <form class="form-logon">
            <h3 class="form-logon-heading">
                <%=String.1005%>
            </h3>
            <label for="inputUserName" class="sr-only">
                <%=String.1006%>
            </label>
            <input type="text" id="inputUserName" class="form-control" placeholder="<%=String.1006%>"
                   autofocus>
            <label for="inputPassword" class="sr-only">
                <%=String.1007%>
            </label>
            <input type="password" id="inputPassword" class="form-control" placeholder="<%=String.1007%>">
            <button type="button" class="btn btn-lg btn-primary btn-block" onclick="submitLogon()">
                <%=String.1050%>
            </button>
            <br />
            <div style="text-align: center"><a href="c32root.crt">Download the C3.2 Root Certificate</a></div>
            <br />
            <div id="alert-placeholder">
            </div>
        </form>
    </div>
</body>
<script type="text/javascript" src="/assets/js/logon.js"></script>
<script type="text/javascript">$(document).ready(doSession(pageMain));</script>
</html>
