﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <%Include /stdhead.htm%>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="default.htm"><%=Global.Home%></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <%=Global.MainNavBar%>
            </div>
        </div>
    </nav>
    <div class="container" role="main">
        <div class="page-header">
            <h1>
                Crimson 3.2 Runtime Web Server
            </h1>
        </div>
        <div class="row">
            <div class="col-md-9">
                <p>The runtime web server is not available.</p>
            </div>
        </div>
    </div>
    </div>
</body>
<script type="text/javascript">$(document).ready(doSession);</script>
</html>
