<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <%Include /stdhead.htm%>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="default.htm"><%=Global.Home%></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <%=Global.MainNavBar%>
            </div>
        </div>
    </nav>
    <div class="container" role="main">
        <div class="page-header">
            <h1>
                Change Password
            </h1>
        </div>
        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-2" for="p1" style="text-align: left">Old Password:</label>
                <div class="col-md-3">
                    <input type="password" class="form-control" id="p1" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2" for="p2" style="text-align: left">New Password:</label>
                <div class="col-md-3">
                    <input type="password" class="form-control" id="p2" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2" for="p3" style="text-align: left">Repeat Password:</label>
                <div class="col-md-3">
                    <input type="password" class="form-control" id="p3" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <button id="b" type="button" class="btn btn-primary" style="margin-right: 12px" onclick="submitSetPass()">
                        Submit Change
                    </button>
                    <button id="b" type="button" class="btn btn-warning" onclick="createPassword()">
                        Create Password
                    </button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-9" id="m" style="color: red">
                </div>
            </div>
            <div id="alert-placeholder">
            </div>
        </form>
    </div>
</body>
<script type="text/javascript" src="/assets/js/setpass.js"></script>
<script type="text/javascript">$(document).ready(doSession(pageMain));</script>
</html>
