﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <%Include /stdhead.htm%>
    <link href="/assets/css/sysdebug.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="default.htm"><%=Global.Home%></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <%=Global.MainNavBar%>
            </div>
        </div>
    </nav>
    <div class="container" role="main">
        <div class="page-header">
            <h1>
                <%=String.1080%>
            </h1>
            <div id="lock-div" class="custom-control custom-checkbox">
                <input id="lock-box" type="checkbox" class="custom-control-input" />
                <label class="custom-control-label" for="lock-box">
                    <%=String.1081%>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div id="debug-text" class="debug debug-text" style="display: none">
                </div>
                <div id="debug-snap" class="debug debug-snap" style="display: none">
                </div>
                <input id="command" type="text" class="input" spellcheck="false" style="display: none">
            </div>
        </div>
    </div>
    </div>
</body>
<script type="text/javascript" src="/assets/js/sysdebug.js"></script>
<script type="text/javascript">$(document).ready(doSession(pageMain));</script>
</html>
