<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <%Include /stdhead.htm%>
    <link href="/assets/css/logarea.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="default.htm"><%=Global.Home%></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <%=Global.MainNavBar%>
            </div>
        </div>
    </nav>
    <div class="container" role="main">
        <div class="page-header">
            <h1>
                <%=String.1099%>
            </h1>
        </div>
        <div class="row">
            <div id="log-area" style="display: none">
                <div class="col-md-11">
                    <div id="log-text" class="debug debug-text" style="display: none">
                    </div>
                    <div id="log-snap" class="debug debug-snap" style="display: none">
                    </div>
                    <div id="log-filt" class="debug" style="display: none">
                    </div>
                </div>
                <div class="form-group col-md-7">
                    <div style="margin-top: 12px">
                        <button id="log-wipe" type="button" style="margin-right: 12px" class="btn btn-primary">
                            Clear Window
                        </button>
                        <button id="log-read" type="button" style="margin-right: 8px" class="btn btn-primary">
                            Download Log
                        </button>
                        <input id="log-lock" type="checkbox" class="custom-control-input" />
                        <label class="custom-control-label" for="log-lock" style="margin-right: 8px">
                            <%=String.1081%>
                        </label>
                        <input id="log-high" type="checkbox" class="custom-control-input" />
                        <label class="custom-control-label" for="log-high">
                            Highlight Mode
                        </label>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <div style="margin-top: 12px">
                        <input id="log-filter" class="form-control" placeholder="Enter Filter Text">
                    </div>
                </div>
            </div>
        </div>
</body>
<script type="text/javascript" src="/assets/js/logarea.js"></script>
<script type="text/javascript" src="/assets/js/syslog.js"></script>
<script type="text/javascript">$(document).ready(doSession(pageMain));</script>
</html>
