﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <%Include /stdhead.htm%>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="default.htm"><%=Global.Home%></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <%=Global.MainNavBar%>
            </div>
        </div>
    </nav>
    <div id="text-start" style="display: none">
        <%=String.1068%>
    </div>
    <div id="text-stop" style="display: none">
        <%=String.1069%>
    </div>
    <div id="text-avail" style="display: none">
        <%=String.1070%>
    </div>
    <div class="container" role="main">
        <div class="page-header">
            <h1>
                <%=String.1066%>
            </h1>
        </div>
        <div id="pcap-form" style="display: none">
            <div class="row col-md-10">
                <div class="form-group col-md-6" style="padding-left: 0px">
                    <label for="pcap-source">
                        <%=String.1071%>
                    </label>
                    <select id="pcap-source" class="form-control">
                        <%=System.CaptureList%>
                        <option value="99"><%=String.1082%></option>
                    </select>
                </div>
            </div>
            <div id="pcap-port-fail" class="row col-md-10">
                <p>
                    <%=String.1072%>
                </p>
            </div>
            <div id="pcap-port-okay">
                <div id="pcap-entry">
                    <div class="row col-md-10">
                        <div class="form-group col-md-3" style="padding-left: 0px">
                            <label for="pcap-tcp-enable">
                                <%=String.1073%>
                            </label>
                            <select id="pcap-tcp-enable" class="form-control">
                                <option value="0"><%=String.1083%></option>
                                <option value="2"><%=String.1085%></option>
                                <option value="3"><%=String.1098%></option>
                                <option value="1"><%=String.1086%></option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="pcap-tcp-port" id="pcap-tcp-label">
                                <%=String.1074%>
                            </label>
                            <input id="pcap-tcp-port" type="number" class="form-control" placeholder="Port Number">
                        </div>
                    </div>
                    <div class="row col-md-10">
                        <div class="form-group col-md-3" style="padding-left: 0px">
                            <label for="pcap-tcp-enable">
                                <%=String.1075%>
                            </label>
                            <select id="pcap-udp-enable" class="form-control">
                                <option value="0"><%=String.1083%></option>
                                <option value="2"><%=String.1085%></option>
                                <option value="1"><%=String.1086%></option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="pcap-udp-port" id="pcap-udp-label">
                                <%=String.1076%>
                            </label>
                            <input id="pcap-udp-port" type="number" class="form-control" placeholder="Port Number">
                        </div>
                    </div>
                    <div class="row col-md-10">
                        <div class="form-group col-md-3" style="padding-left: 0px">
                            <label for="pcap-icmp-enable">
                                ICMP Capture
                            </label>
                            <select id="pcap-icmp-enable" class="form-control">
                                <option value="0"><%=String.1083%></option>
                                <option value="1"><%=String.1084%></option>
                            </select>
                        </div>
                    </div>
                    <div class="row col-md-10">
                        <div class="form-group col-md-3" style="padding-left: 0px">
                            <label for="pcap-arp-enable">
                                <%=String.1077%>
                            </label>
                            <select id="pcap-arp-enable" class="form-control">
                                <option value="0"><%=String.1083%></option>
                                <option value="1"><%=String.1084%></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row col-md-10">
                    <button id="pcap-start" type="button" class="btn btn-default" style="margin-top: 20px">
                    </button>
                    <div id="pcap-link" style="margin-top: 20px; display: none">
                        <p style="margin-bottom: 5px"><a id="pcap-href" href="."><%=String.1078%></a></p>
                        <p id="pcap-size" style="color: #888"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="/assets/js/syspcap.js"></script>
<script type="text/javascript">$(document).ready(doSession(pageMain));</script>
</html>
