<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <%Include /stdhead.htm%>
    <link href="/assets/css/logarea.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="default.htm"><%=Global.Home%></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <%=Global.MainNavBar%>
            </div>
        </div>
    </nav>
    <div style="display: none">
        <span id="str-not-init"><%=String.1100%></span>
        <span id="str-show-act"><%=String.1101%></span>
    </div>
    <div class="container" role="main">
        <div class="page-header">
            <h1 id="title">
                &nbsp;
            </h1>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div id="wifi-info">
                </div>
            </div>
            <div class="col-md-7">
                <div id="log-area" style="display: none">
                    <div id="log-text" class="debug debug-text" style="display: none">
                    </div>
                    <div id="log-snap" class="debug debug-snap" style="display: none">
                    </div>
                    <div style="margin-top: 12px">
                        <button id="log-wipe" type="button" style="margin-right: 12px" class="btn btn-primary">
                            Clear Window
                        </button>
                        <button id="log-save" type="button" style="margin-right: 12px" class="btn btn-primary">
                            Save Contents
                        </button>
                        <input id="log-lock" type="checkbox" class="custom-control-input" />
                        <label class="custom-control-label" for="log-lock">
                            <%=String.1081%>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="hidden" style="display: none" />
</body>
<script type="text/javascript" src="/assets/js/logarea.js"></script>
<script type="text/javascript" src="/assets/js/wifiinfo.js"></script>
<script type="text/javascript">$(document).ready(doSession(pageMain));</script>
</html>
