body {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #eee;
}

.form-logon {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
	margin-top: 50px;
}

	.form-logon .form-logon-heading, .form-logon .checkbox {
		margin-bottom: 10px;
	}

	.form-logon .checkbox {
		font-weight: normal;
	}

	.form-logon .form-control {
		position: relative;
		height: auto;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding: 10px;
		font-size: 16px;
	}

		.form-logon .form-control:focus {
			z-index: 2;
		}

	.form-logon input[type="text"] {
		margin-bottom: -1px;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}

	.form-logon input[type="password"] {
		margin-bottom: 10px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
