﻿.cmd-data > pre {
	max-height: calc(100vh - 280px);
	overflow: auto;
	margin-bottom: 0px;
}

	.cmd-data > pre > p {
		margin-bottom: 0px;
	}

	.cmd-data > pre > .table > thead > tr > th {
		padding: 6px 10px 3px 10px;
		color: #000;
	}

	.cmd-data > pre > .table > tbody > tr > td {
		padding: 3px 10px 3px 10px;
		color: #000;
	}

.table {
	margin-bottom: 0px;
}
