﻿.debug, .input {
	padding: 4px 6px;
	border: 1px #222 solid;
	font-family: Consolas, sans-serif;
	font-size: 13px;
}

.debug-text {
	background: #222;
	color: #FFF;
}

.debug-snap {
	background: #222;
	color: #CCC;
}

.debug p {
	margin: 0;
	padding: 0px 6px;
}

.debug {
	height: calc(100vh - 280px);
	overflow: scroll;
	padding: 0;
}

.input {
	background: #444;
	color: #FF0;
	width: 100%;
	box-sizing: border-box;
}
