<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<%Include /stdhead.htm%>
</head>
<body>
	<%Include /stdnavbar.htm%>
	<div class="container" role="main">
		<div class="page-header">
			<h1><%=Global.PageHeader%></h1>
		</div>
		<div class="row">
			<div class="col-md-9">
				<%=Global.MainMenu%>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<table class='table'>
					<thead>
						<tr><th>Old Style</th><th>New Style</th></tr>
					</thead>
					<tbody>
						<tr><td>[[0]]</td><td><%=Tags.Tag1%></td></tr>
						<tr><td>[[1]]</td><td><%=Tags.Tag2%></td></tr>
						<tr><td>[[Tag3]]</td><td><%=Tags.Tag3%></td></tr>
						<tr><td>[[Tag4]]</td><td><%=Tags.Tag4%></td></tr>
						<tr>
							<td>[[Tag5:0]] [[Tag5:1]] [[Tag5:2]] [[Tag5:3]]</td>
							<td><%=Tags.Tag5[0]%> <%=Tags.Tag5[1]%> <%=Tags.Tag5[2]%> <%=Tags.Tag5[3]%></td>
						</tr>
						<tr><td>[[Tag6]]</td><td><%=Tags.Tag6%></td></tr>
					</tbody>
				</table>
			</div>
		</div>
		<p>THIS IS A CUSTOMIZED HOME PAGE.</p>
	</div>
</body>
<script type="text/javascript">$(document).ready(doSession);</script>
</html>
