<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title><%=Global.Title%></title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" /> 
	<link href="/assets/css/bootstrap.min.css" rel="stylesheet">
	<link href="/assets/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
	<link href="/assets/css/theme.css" rel="stylesheet">
	<link href="/assets/css/logon.css" rel="stylesheet">
	<link href="/custom/css/custom.css" rel="stylesheet">
	<!--[if lt IE 9]>
		<script type="text/javascript" src="/assets/js/html5shiv.min.js"></script>
		<script type="text/javascript" src="/assets/js/respond.min.js"></script>
	<![endif]-->
	<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
	<script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/assets/js/ie10-viewport-bug-workaround.js"></script>
	<script type="text/javascript" src="/assets/js/session.js"></script>
	<script type="text/javascript" src="/custom/js/custom.js"></script>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
	  <div class="container">
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			<span class="sr-only">Toggle Navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		  <p class="navbar-brand" style="margin-bottom: 0px;"><%=Global.Home%></p>
		</div>
	  </div>
	</nav>
	<div class="container">
		<form class="form-logon">
			<h3 class="form-logon-heading">Please Log On</h3>
			<label for="inputUserName" class="sr-only">User Name</label>
			<input type="text" id="inputUserName" class="form-control" placeholder="User Name" autofocus>
			<label for="inputPassword" class="sr-only">Password</label>
			<input type="password" id="inputPassword" class="form-control" placeholder="Password">
			<button type="button" class="btn btn-lg btn-primary btn-block" onclick="submitLogon()">Log On</button>
			<br />
			<p style="text-align: center">THIS IS A CUSTOMIZED LOGON PAGE.</p>
			<br />
			<div id="alert-placeholder"></div>
		</form>
	</div>
</body>
<script type="text/javascript" src="/assets/js/logon.js"></script>
<script type="text/javascript">$(document).ready(function () { doSession(pageMain); });</script>
</html>
