<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="icon" href="/favicon.ico" /> 
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title><%=Global.Title%></title>
	<link href="/assets/css/bootstrap.min.css" rel="stylesheet">
	<link href="/assets/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
	<link href="/assets/css/theme.css" rel="stylesheet">
	<link href="/custom/css/custom.css" rel="stylesheet">
	<!--[if lt IE 9]>
	  <script type="text/javascript" src="/assets/js/html5shiv.min.js"></script>
	  <script type="text/javascript" src="/assets/js/respond.min.js"></script>
	<![endif]-->
	<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
	<script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/assets/js/ie10-viewport-bug-workaround.js"></script>
	<script type="text/javascript" src="/assets/js/session.js"></script>
	<script type="text/javascript" src="/custom/js/custom.js"></script>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
	  <div class="container">
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			<span class="sr-only">Toggle Navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		  <a class="navbar-brand" href="default.htm"><%=Global.Home%></a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
		    <%=Global.MainNavBar%>
		</div>
	  </div>
	</nav>
	<div id="myEdit" class="modal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						&times;</button>
					<h4 id="edit-title" class="modal-title">
					</h4>
				</div>
				<div class="modal-body">
					<form>
					<div class="form-group">
						<label for="New Value">
							<%=String.1000%>:</label>
                        <div id="edit-block"></div>
					</div>
					<div class="form-group">
						<label for="Old Value">
							<%=String.1001%>:</label>
						<input id="edit-saved" type="text" class="form-control" readonly="readonly" disabled>
					</div>
					</form>
				</div>
				<div class="modal-footer">
					<button id="edit-okay" type="button" class="btn btn-default">
						<%=String.1002%></button>
					<button id="edit-cancel" type="button" class="btn">
						<%=String.1003%></button>
				</div>
			</div>
		</div>
	</div>
	<div class="container" role="main">
		<div class="page-header">
			<h1 class="drag-left">
				<%=DataView.Header%>
			</h1>
		</div>
		<div class="row">
			<div class="col-md-6">
				<table class="table">
					<thead>
						<%=DataView.TagHead%>
					</thead>
					<tbody>
						<%=DataView.TagList%>
					</tbody>
				</table>
			</div>
		</div>
		<div id="alert-placeholder" style="width: 80%">
		</div>
	</div>
</body>
<script type="text/javascript" src="/assets/js/dataview.js"></script>
<script type="text/javascript">$(document).ready(function () { doSession(pageMain); });</script>
</html>
