<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="icon" href="/favicon.ico" /> 
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title><%=Global.Title%></title>
	<link href="/assets/css/bootstrap.min.css" rel="stylesheet">
	<link href="/assets/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
	<link href="/assets/css/theme.css" rel="stylesheet">
	<link href="/custom/css/custom.css" rel="stylesheet">
	<!--[if lt IE 9]>
	  <script type="text/javascript" src="/assets/js/html5shiv.min.js"></script>
	  <script type="text/javascript" src="/assets/js/respond.min.js"></script>
	<![endif]-->
	<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
	<script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/assets/js/ie10-viewport-bug-workaround.js"></script>
	<script type="text/javascript" src="/assets/js/session.js"></script>
	<script type="text/javascript" src="/custom/js/custom.js"></script>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
	  <div class="container">
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			<span class="sr-only">Toggle Navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		  <a class="navbar-brand" href="default.htm"><%=Global.Home%></a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
		    <%=Global.MainNavBar%>
		</div>
	  </div>
	</nav>
	<div class="container" role="main">
		<div class="page-header">
			<h1><%=Logs.Header%></h1>
		</div>
		<div class="row">
			<div class="col-md-6">
				<%=Logs.List%>
			</div>
        </div>
        <p><%=Logs.Back%></p>
	</div>
</body>
<script type="text/javascript">$(document).ready(doSession);</script>
</html>
