<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="icon" href="/favicon.ico" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
        <%=Global.Title%></title>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="/assets/css/theme.css" rel="stylesheet">
    <link href="/custom/css/custom.css" rel="stylesheet">
    <!--[if lt IE 9]>
	  <script type="text/javascript" src="/assets/js/html5shiv.min.js"></script>
	  <script type="text/javascript" src="/assets/js/respond.min.js"></script>
	<![endif]-->
    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/ie10-viewport-bug-workaround.js"></script>
    <script type="text/javascript" src="/assets/js/session.js"></script>
    <script type="text/javascript" src="/custom/js/custom.js"></script>
    <style>
        .table
        {
            margin-bottom: 0px;
        }
        .cmd-data>pre
        {
            margin-bottom: 0px;
        }
        .cmd-data>pre>p
        {
            margin-bottom: 0px;
        }
        .cmd-data>pre>.table>thead>tr>th
        {
        	padding: 6px 10px 3px 10px;
        	color: #000;
        }
        .cmd-data>pre>.table>tbody>tr>td
        {
        	padding: 3px 10px 3px 10px;
        	color: #000;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
	  <div class="container">
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			<span class="sr-only">Toggle Navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		  <a class="navbar-brand" href="default.htm"><%=Global.Home%></a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
		    <%=Global.MainNavBar%>
		</div>
	  </div>
	</nav>
    <div class="container" role="main">
        <div class="page-header">
            <h1>
                <%=System.CmdHead%>
            </h1>
            <div id="real-time-div" class="custom-control custom-checkbox" style="display: none">
                <input id="real-time-box" type="checkbox" class="custom-control-input" />
                <label class="custom-control-label" for="real-time-box">
                    <%=String.1079%>
                </label>
            </div>
        </div>
        <div class="row">
            <div id="cmd-data" class="cmd-data col-md-9">
                <%=System.CmdBody%>
            </div>
        </div>
    </div>
    </div>
</body>
<script type="text/javascript" src="/assets/js/syscmd.js"></script>
<script type="text/javascript">$(document).ready(doSession(pageMain));</script>
</html>
