<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="icon" href="/favicon.ico" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
        <%=Global.Title%></title>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="/assets/css/theme.css" rel="stylesheet">
    <link href="/custom/css/custom.css" rel="stylesheet">
    <!--[if lt IE 9]>
	  <script type="text/javascript" src="/assets/js/html5shiv.min.js"></script>
	  <script type="text/javascript" src="/assets/js/respond.min.js"></script>
	<![endif]-->
    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/ie10-viewport-bug-workaround.js"></script>
    <script type="text/javascript" src="/assets/js/session.js"></script>
    <script type="text/javascript" src="/custom/js/custom.js"></script>
    <style>
        .debug, .input
        {
            padding: 4px 6px;
            border: 1px #222 solid;
            font-family: Consolas, sans-serif;
            font-size: 13px;
        }
        .debug-text
        {
            background: #222;
            color: #FFF;
        }
        .debug-snap
        {
            background: #222;
            color: #CCC;
        }
        .debug p
        {
            margin: 0;
            padding: 0px 6px;
        }
        .debug
        {
            height: calc(100vh - 280px);
            overflow: scroll;
            padding: 0;
        }
        .input
        {
            background: #444;
            color: #FF0;
            width: 100%;
            box-sizing: border-box;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
	  <div class="container">
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			<span class="sr-only">Toggle Navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		  <a class="navbar-brand" href="default.htm"><%=Global.Home%></a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
		    <%=Global.MainNavBar%>
		</div>
	  </div>
	</nav>
    <div class="container" role="main">
        <div class="page-header">
            <h1>
                <%=String.1080%></h1>
            <div id="lock-div" class="custom-control custom-checkbox">
                <input id="lock-box" type="checkbox" class="custom-control-input" />
                <label class="custom-control-label" for="lock-box">
                    <%=String.1081%>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div id="debug-text" class="debug debug-text" style="display: none">
                </div>
                <div id="debug-snap" class="debug debug-snap" style="display: none">
                </div>
                <input id="command" type="text" class="input" spellcheck="false" style="display: none">
            </div>
        </div>
    </div>
    </div>
</body>
<script type="text/javascript" src="/assets/js/sysdebug.js"></script>
<script type="text/javascript">    $(document).ready(doSession(pageMain));</script>
</html>
